[Desktop Entry]
Version=1.0
Type=Application
Name=Enter the Gungeon
GenericName=Enter the Gungeon
Comment=Enter the Gungeon
Icon=/home/alan/GOG Games/Enter the Gungeon/support/icon.png
Exec=bash -c 'SDL_VIDEODRIVER=x11 "/home/alan/GOG Games/Enter the Gungeon/start.sh" > /tmp/etg.log 2>&1'
Exec=/home/alan/GOG Games/Enter the Gungeon/start.sh
Categories=Game;
Path=/home/alan/GOG\ Games/Enter\ the\ Gungeon

