[Desktop Entry]
Version=1.0
Type=Application
Name=Aottg 2
GenericName=Attack on Titan Tribute Game 2
Comment=Game about killing titans
StartupNotify=true
Exec=bash -c '/home/alan/Games/Aottg2Linux/AoTTG2.x86_64 > /tmp/aottg2.log 2>&1'
Icon=/home/alan/Games/Aottg2Linux/AoTTG2_Data/Resources/UnityPlayer.png
Categories=Game;
Keywords=Games;Aottg;Aottg2;
