[Desktop Entry]
Type=Application
Name=MATLAB
Exec=/home/alan/.MathWorks/ServiceHost/-mw_shared_installs/v2026.5.0.3/bin/glnxa64/OpenMathWorksDesktopApp %u
StartupNotify=false
MimeType=x-scheme-handler/mw-matlab;
NoDisplay=true
