[Desktop Entry]
Version=1.0
Type=Application
Name=SKlauncher
GenericName=Minecraft launcher
Comment=Launcher for minecraft java edition
TryExec=/home/alan/Games/SKlauncher/SKlauncher
StartupNotify=true
Exec=/home/alan/Games/SKlauncher/SKlauncher
Icon=minecraft
Categories=Game;
Keywords=Games;Minecraft;
