

toggle_statusbar i
open_document_embedded_from_current_path o

overview_to_portal ç

toggle_dark_mode <f3>
toggle_custom_color <C-r>

toggle_mouse_drag_mode <tab>

goto_mark w

fit_to_page_width e
fit_to_page_width_smart E

close_window q
prev_state <C-o>
next_state <C-i>

screen_down <C-d>
screen_up <C-u>



