[Unit]
Description=hypad
Requires=wayland-session@hyprland.desktop.target
After=wayland-session@hyprland.desktop.target

[Service]
Type=simple
ExecReload=/usr/local/bin/hypad serve stop
ExecStart=/usr/local/bin/hypad serve start --config %h/.config/hypad/hypad.toml
Restart=always

[Install]
WantedBy=wayland-session@hyprland.desktop.target
