[Unit]
Description=GTK3 & python based GUI for Syncthing
Requires=wayland-session@hyprland.desktop.target
After=wayland-session@hyprland.desktop.target

[Service]
Type=simple
ExecStart=/usr/bin/syncthing-gtk --minimized
Restart=always
RestartSec=2s 

[Install]
WantedBy=wayland-session@hyprland.desktop.target
