[Desktop Entry]
Name=Portal Revolution
Exec="/home/alan/Games/Portal Revolution/Portal Revolution/run.sh"
Exec=bash -c '"/home/alan/Games/Portal Revolution/Portal Revolution/run.sh" > /tmp/portal.log 2>&1'
Icon=/home/alan/Games/Portal Revolution/Portal Revolution/revolution/resource/game.ico
Type=Application
Categories=Game;
StartupNotify=true
Comment=Start Portal Revolution
Comment[ru_RU]=Запустить Portal Revolution
