[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Firewatch
GenericName=Firewatch
Comment=Firewatch
Icon=/home/alan/GOG Games/Firewatch/support/icon.png
Exec="/home/alan/GOG Games/Firewatch/start.sh" ""
Categories=Game;
Path=/home/alan/GOG Games/Firewatch

