[Desktop Entry]
Name=Intel Quartus Prime
Comment=VHDL compiler and FPGA Toolkit
Exec=/home/alan/intelFPGA_lite/23.1std/quartus/bin/quartus
Terminal=false
Type=Application
Icon=/home/alan/intelFPGA_lite/23.1std/quartus/adm/quartusii.png
StartupNotify=false
MimeType=application/x-qar;
Categories=Development;Education;Science;
Keywords=vhdl,fpga,verilog;
