[Desktop Entry]
Name=Typstudio
Comment=Typst editor
Exec=typstudio
Terminal=false
Type=Application
Icon=typst
StartupNotify=false
MimeType=application/x-typ;
Categories=Development;Education;Science;
Keywords=typst,pdf;
