* {
  all: unset;
}

$background : #151724;
$foreground : #545c7e;
$background-alt : #1D202F;
$background-light : #30385a;
$foreground-alt : #c0caf5;
$red : #f7768e;
$red-light : #c15a5e;

$green : #9ece6a;
$green-light : #8fa176;


$yellow : #caac79;
$yellow-light : #d8b170;

$orange: #eaac79;

$blue : #7aa2f7;
$blue-light : #809fbe;

$cyan : #6b8f8a;
$cyan-light : #8cb5af;

$magenta : #a07ea7;
$magenta-light : #b183ba;

$comment : #545c7e;
$comment-light : #838383;
// $accent : #738c64;
$accent : $blue-light;

.commentlight {
  color: $comment-light
}

.accent {
  color: $accent;
}

.comment {
  color: $comment;
}

.red {
  color: $red;
}

.yellow {
  color: $yellow;
}

.green {
  color: $green;
}

.magenta {
  color: $magenta;
}

.blue {
  color: $blue;
}

.cyan {
  color: $cyan;
}

.white {
  color: $foreground-alt;
}

